.cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
.cart-container h1{
    color: orangered;
    text-align: center;
  }

.cart-item {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-top: 1px solid orangered;
    border-bottom: 1px solid orangered;
    border-left: none;
    border-right: none;
    width: 1200px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.product{
    float: left;
    width: 700px;
}

.item-info h2 {
    margin: 0;
    padding: 0;
}

.quantity-control {
    display: flex;
    margin: 5px 0;
    float: right;
    width:500px
}

.quantity-control button {
    background-color: #e7831f;
    color: #ffffff;
    border: none;
    padding: 2px;
    cursor: pointer;
    text-align: center;
}

.rmv-btn {
    margin-top: 10px;
    background-color: red;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.extras{
    width: 700px;
    float: right;
}


.view-cart {
    margin-top: 10px;
    background-color: #00ff00;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}


