.cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(33.33% - 20px);
}

.cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.item-info h2 {
    margin: 0;
    padding: 0;
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 5px 0;
}

.quantity-control button {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.item-info button {
    background-color: #e7831f;
    color: #ffffff;
    border: none;
    padding: 12px;
    cursor: pointer;
    text-align: center;
}

.view-cart {
    margin-top: 10px;
    background-color: #00ff00;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}


